credentials.R
*.RData
*.Rapp.history
*.Rhistory
*.Statahistory
.project
\.dropbox
*.png 
*.ttt
*.fff
*.out
*.lot
*.lof
*.synctex*
*.aux
*.log
*.bbl
*.blg
junk/
logistics/
poster/
old/
sample.html
*.swp
