credentials.R
*.RData
*.Rapp.history
*.Rhistory
*.Statahistory
\.dropbox
*.png 
*.ttt
*.fff
*.out
*.lot
*.lof
*.synctex*
*.aux
*.log
*.bbl
*.blg
junk/
logistics/
poster/
old/
sample.html
writeup/plots/*pdf
writeup/plots/*png
writeup/plots/*svg
writeup/tables/*tex
data/
etl/raw/
etl/transformed/
writeup/kwow.pdf
code/
analysis/kwowR/inst/extdata/*rds
data/